<h2>About John Moran</h2>
<ul>
  <li>
    I've been working professionally with Angular since 2018, but also React and
    Vue since 2019
  </li>
  <li>
    I love to build stuff for the Front End and learn how the back end stuff
    works
  </li>
  <li>
    I'm always learning new skills in the industry and I'm always making some
    kind of app or feature, for personal projects or when I'm working
    professionally
  </li>
  <li>
    When I'm not working on something I'm researching, studying new Front End
    tools and technologies
  </li>
  <li>
    I live in Barcelona and can start immediately, I recognize a few ex
    collegues from Norwegian Airlines, now working at Wallapop
  </li>
</ul>

<h2>Contact:</h2>
<p>Tel: 695966706 <br /></p>
<p>Website: <a href="https://jpm.netlify.app" target="_blank">My site</a></p>
