<div class="inputs">
	<div class="flex">
		<div class="csv-result-table">
			<table>
				<thead>
					<tr>
						<th>#</th>
						<th>Artist</th>
						<th>Title</th>
						<th>ISRC</th>
						<th>Duration</th>
						<th>Remove</th>
						<th>Add to DB</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let csvData of inputs$ | async; let i = index">
						<td>{{ i + 1 }}</td>
						<td [ngClass]="{ green: artist.includes(i) && checkedArtist }">
							{{ csvData.artist }}
						</td>
						<td [ngClass]="{ lightGreen: title.includes(i) && checkedTitle }">
							{{ csvData.title }}
						</td>
						<td [ngClass]="{ orange: csvData.matchesISRC }">
							{{ csvData.isrc }}
						</td>
						<td [ngClass]="{ lightOrange: csvData.matchesDuration }">
							{{ csvData.duration }}
						</td>
						<td style="text-align: center">
							<mat-icon aria-hidden="false" aria-label="clear" (click)="remove(i)" class="red">clear</mat-icon>
						</td>
						<td style="text-align: center">
							<mat-icon aria-hidden="false" aria-label="playlist_add" (click)="addToDB(csvData)">playlist_add</mat-icon>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="controls">
			<p><b>Database:</b></p>
			<section>
				<mat-checkbox class="greenChecked" [(ngModel)]="checkedArtist">Artist ({{ artist.length }})</mat-checkbox>
				<mat-checkbox class="lightGreenChecked" [(ngModel)]="checkedTitle">Title ({{ title.length }})</mat-checkbox>
				<mat-checkbox class="orangeChecked" [(ngModel)]="checkedISRC">ISRC ({{ isrc.length }})</mat-checkbox>
				<mat-checkbox class="lightOrangeChecked" [(ngModel)]="checkedDuration">Duration ({{ duration.length }})</mat-checkbox>
			</section>
		</div>
	</div>
</div>
