.container {
	display: block;
}
.controls {
	margin-left: 20px;
}
.inputs,
.data {
	margin-top: 20px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	text-align: left;
	border: 1px solid #ddd;
	padding: 8px;
}

.flex {
	display: flex;
}

.mat-checkbox {
	display: block;
	margin: 0 0 10px 10px;
}

.mat-icon {
	cursor: pointer;
	color: red;
}

::ng-deep .mat-checkbox-inner-container {
	height: 26px !important;
	width: 26px !important;
}

.green {
	background-color: green;
	color: white;
}

::ng-deep .greenChecked.mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
	background-color: green !important;
}

::ng-deep .greenChecked.mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
	background-color: green !important;
}

.lightGreen {
	background-color: #00a800;
	color: white;
}

::ng-deep .lightGreenChecked.mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
	background-color: #00a800 !important;
}

::ng-deep .lightGreenChecked.mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
	background-color: #00a800 !important;
}

.orange {
	background-color: #f19c00;
	color: white;
}

::ng-deep .orangeChecked.mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
	background-color: #f19c00 !important;
}

::ng-deep .orangeChecked.mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
	background-color: #f19c00 !important;
}

.lightOrange {
	background-color: #ffb93a;
	color: white;
}

::ng-deep .lightOrangeChecked.mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
	background-color: #ffb93a !important;
}

::ng-deep .lightOrangeChecked.mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
	background-color: #ffb93a !important;
}
