.container {
	display: block;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	text-align: left;
	border: 1px solid #ddd;
	padding: 8px;
}

.flex {
	display: flex;
}

.green {
	background-color: green;
	color: white;
}

.orange {
	background-color: orange;
	color: white;
}
.mat-icon {
	cursor: pointer;
	color: red;
}
